.cards__item {
  margin-right: 100px;
  max-width: 240px;
}

.cards__item:nth-child(3n) {
  margin-right: 0;
}

/*Единстыенный способ, который я придумал чтобы сделать так, как на макете.
Но я бы лучше задал блоку cards justify-content: center, но тогда нижние 2 элемента не вставали бы как на макете.
И можно было бы указать не width, а max-width. Если сейчас его указать, то при сжатии экрана 3й элемент переносится на другую строчку без margin-right и получется некрасиво
 */
